* {
    margin: 0%;
    padding: 0%;
    color: #fff;
    font-family: cursive;
}
#NAVBAR {
    height: 60px;
    background-color: #000;
}
button {
    background-color: rgb(255, 170, 0);
}
#LOGO {
    color: rgb(255, 89, 0);
    text-decoration: none;
    font-size: 25px ;
}
a {
    margin-right: 150px;
}
footer {
    text-align: center;
}

.myl {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}
#CONTENT {
    height: 460px;
}